.product-list-drawar {
  position: fixed;
  top: 7rem;
  left: 0;
  width: 100vw;
  padding: 1rem;
  overflow-y: scroll;
  border-top: 1px solid var(--black-color);
  height: calc(100vh - 7rem);
  background-color: var(--background-color);
  z-index: 9999;
  transform: translateY(100%);
}

.product-list-drawar-active {
  transform: translateY(0);
}

@media screen and (min-width: 751px) {
  .product-list-drawar {
    display: none;
  }
}
@media screen and (min-width: 501px) {
  .product-list-drawar {
    top: 8rem;
  }
}
