.home-container {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}

.home-subheader {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.home-subheader > * {
  padding: 1rem;
}
.home-subheader-item button {
  border-radius: 1rem;
  padding: 0.5rem 0.75rem;
}
.home-hero-img-container {
  width: 100%;
  cursor: pointer;
}

.home-hero-img {
  object-fit: fill;
  min-height: 12.5rem;
}
.home-subheading-image {
  padding: 2rem 0;
}
.home-subheading-image img {
  min-height: 4rem;
}
.home-cards {
  padding: 1.5rem 0.5rem;
  display: flex;
  gap: 1rem;
}

.home-card-container {
  padding: 0.5rem;
  gap: 0.5rem;
  cursor: pointer;
  width: 100%;
  max-width: 50rem;
}
.index-card-img {
  object-fit: contain;
  object-position: top center;
}
.home-card-img-container {
  flex-shrink: 0;
}
.home-card-footer-title {
  padding: 0.5rem 0;
}
.home-card-container-hz {
  flex-direction: row;
  max-width: 100rem;
}

@media screen and (max-width: 750px) {
  .home-container {
    margin-top: 7rem;
  }
  .home-subheader > * {
    padding: 0.25rem;
  }
  .home-subheader-item button {
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
  }
  .home-nav {
    display: flex;
    flex-direction: column;
  }
  .home-cards,
  .home-card-container {
    flex-direction: column;
  }
  .home-card-img-container {
    width: 100%;
  }
}
