.profile-outer-container {
  margin-top: 8rem;
  display: flex;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: center;
}
.profile-container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: fit-content;
  min-height: 90%;
  margin-bottom: 2rem;
}
.profile-nav {
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  padding: 0 1rem;
}
.profile-nav-item {
  padding: 1rem;
  font-size: 1.25rem;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link-active {
  background-color: var(--blue-200);
  color: var(--primary-color);
}
.nav-link {
  background-color: var(--primary-color);
  color: var(--white-color);
}

@media screen and (max-width: 750px) {
  .profile-outer-container {
    margin-top: 9rem;
  }
  .profile-nav-item {
    font-size: 1rem;
    font-weight: 520;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .profile-outer-container {
    margin-top: 7rem;
  }
  .profile-container {
    width: 100%;
    min-height: 100%;
    box-shadow: none;
  }
  .profile-nav {
    justify-content: space-evenly;
    /* font-size: 0.5rem; */
  }
}
