.profile-outer-container {
  margin-top: 6rem;
  display: flex;
  width: 100%;
  height: calc(100vh - 6rem);
  align-items: center;
  justify-content: center;
}
.profile-container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 90%;
  min-height: 90%;
}
