.wishlist-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.wishlist-main-heading {
  padding: 1.75rem;
}
.wishlist-main-container {
  margin-top: 6rem;
}
@media screen and (max-width: 750px) {
  .wishlist-main-container {
    margin-top: 9rem;
  }
}
.wishlist-main-cart-container {
  margin: 0 auto;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  align-content: center;
}
.wishlist-icon-filled {
  color: var(--red-600);
}
.wishlist-card {
  max-width: 15rem;
}
.wishlist-card-img {
  max-height: 17rem;
}
