.error-page-container {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-color: var(--background-color);
  color: var(--text-color);
}

.error-page-image-container {
  max-width: 50vw;
}
.error-page-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
.error-page-heading {
  color: var(--primary-color);
}

.error-page-subheading {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color);
}

.error-page-button {
  font-size: 1.25rem;
}

@media screen and (max-width: 750px) {
  .error-page-container {
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }
}
