.productlist-card {
  max-width: 15rem;
  align-self: stretch;
  justify-self: center;
}
.productlist-card-img {
  height: 18rem;
  grid-row: 1/2;
  grid-column: 1/2;
  object-fit: cover;
  object-position: top center;
}
.productlist-card-img-tag-btn {
  grid-row: 1/2;
  grid-column: 1/2;
  background-color: var(--blue-400);
  color: var(--white-color);
}
.product-card-title {
  font-size: 1rem;
  font-weight: 600;
}
.card-sub-text {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem auto;
}
.product-card-text {
  padding: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.wishlist-icon-filled {
  color: var(--red-600);
}

@media screen and (max-width: 750px) {
  .productlist-card-img {
    height: 12.5rem;
  }
}
